body {
    margin: 2%;
    border: 1px solid gold;
    background-color: #ff94f5;
    font-family: sans-serif;
  }
  
  #image {
    line-height: 650px;
    width: 575px;
    height: 650px;
    border: 5px solid gold;
    margin: 0 auto;
    background-color: #f4ff94;
    background-image: url(""); 
    background-repeat: no-repeat;
    background-size: cover;
    color: #050505;
    text-align: center;
    margin-bottom: 25px;
    font-size: 150%;
  }
  
  .gallery {
    text-align: center;
  }
  
  .preview {
    width: 250px;
    height: 150px;
    margin: 10px;
    border: 5px solid gold;
    cursor: pointer;
  }
  